@import "tailwindcss";
@plugin "tailwindcss-primeui";
@import "primeicons/primeicons.css";

html {
  @apply text-gray-800;
}

.box-container {
  @apply p-6 sm:rounded-md bg-white shadow-xs;
}

.box-container-2 {
  @apply lg:my-2 lg:mx-4 p-6 sm:rounded-md bg-white shadow-xs;
}

/* PrimeNG custom classes */

.custom-message .p-message-text {
  font-weight: 400; /* Cambia a tu peso deseado */
}

.custom-color-picker {
  border-radius: 6px;
  outline: 1px solid #cbd5e1;
  outline-offset: 2px;
}

/* PrimeNG replaces */

.p-colorpicker-preview:enabled:focus-visible {
  outline-width: 2px !important;
  outline-offset: 3px !important;
}
